.billForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .form-container {
    width: 100%;
    max-width: 900px;
    padding: 20px;
    margin-top: 80px;
    margin-left: 10%;
    border-radius: 10px;
    background-color: #101c24
  }
  .error{
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .bill-form {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  }
  
  .input-box {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .input-box label {
    font-size: 14px;
    font-weight: 500;
    color: rgb(212, 208, 208);
    margin-bottom: 0px;
  }
  
  .input-box input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .full-width {
    flex: 1;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  
  .generate-btn {
    background-color: #007bff;
    color: rgb(220, 215, 215);
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .helper-text{
    color: white;
  }
  
  .generate-btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  }
  