.HomeContent {
    display: flex;
    margin-top: 45px;
    height: 100vh;
    transition: all 0.3s ease-in-out;
}

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
}

.main-title {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}

.main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 40px 0;
    margin-left: 200px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px 15px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
    box-shadow: 0 4px 6px rgba(206, 51, 51, 0.1); /* Subtle shadow */
    backdrop-filter: blur(10px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.496); 
}

.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-inner > .card_icon{
    font-size: 20px;
}


.chart-container {
    width: 60%; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    margin: 100px 0 0 350px;   
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.301); /* Semi-transparent white */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Even more pronounced shadow */
    backdrop-filter: blur(5px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.496);
}

.chart-container h3{
    color: rgb(201, 233, 230);
}